<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusgithub.mediaplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.geniusgithub.mediaplayer.AllShareApplication" >
        
        <activity
            android:name="com.geniusgithub.mediaplayer.activity.DMSActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.geniusgithub.mediaplayer.activity.ContentActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name="com.geniusgithub.mediaplayer.music.MusicPlayerActivity"
            android:theme="@android:style/Theme.NoTitleBar"
    		android:screenOrientation="landscape" 
            android:launchMode="singleTask">
<!--              <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.mediaplayer.video.VideoPlayerActivity"
            android:theme="@android:style/Theme.NoTitleBar"
    		android:screenOrientation="landscape" 
            android:launchMode="singleTask">
<!--              <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.mediaplayer.picture.PicturePlayerActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask">
        </activity>
        
         
        <service android:name="com.geniusgithub.mediaplayer.center.DlnaService" android:enabled="true">
			<intent-filter>
                <action android:name="com.geniusgithub.allshare.search_device" />
                <action android:name="com.geniusgithub.allshare.reset_search_device" />
                
            </intent-filter>
		</service>
        
    </application>

</manifest>